<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dozentenansicht</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <header>

        <h2>I8</h2>
    </header>
    <main>
        <nav>
            <ul>
                <li> <a href="{% url 'projekt' %}"> Projekt</a></li>
                <li> <a href="#"> Teams</a> </li>
                <li> <a href="#">Einstellungen</a></li>
                <li> <a href="#"> Logout</a></li>
            </ul>
        </nav>
        <div class="navigate">
            <ul>
                {% for project in projects %}
                    <li> <a href="{% url 'projektansicht' project.id %}">Projektansicht: {{ project.id }}</a></li>
                {% endfor %}
                <li> <a href="/members/projekt/projekt-erstellen/"> Projekt erstellen </a></li>
            </ul>
        </div>
        <form action="" method="">
            {% csrf_token %}
            <div class="inputs">
                <label>ID</label>
                <input type="text" name="id" value="{{ project.id }}">
            </div>
            <div class="inputs">
                <label> Titel</label>
                <input type="text" name="titel" value="{{ project.titel }}">
            </div>
            <div class="inputs">
                <label> Beschreibung</label>
                <input type="text" name="beschreibung" value="{{ project.beschreibung }}">
            </div>
            <div class="inputs">
                <label>Ansprechpartner</label>
                <input type="text" name="ansprechpartner" value="{{ project.ansprechpartner }}">
            </div>
            <div class="final">
                <input type="reset" value="Reset" class="reset">
                <input type="submit" value="speichen" class="save">
            </div>
    </main>
    <footer>
        <p> CopyRight By Nuha 2023</p>
    </footer>
</body>

</html>