<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dozentenansicht</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <header>

        <h2>I8</h2>
    </header>
    <main>
        <nav>
            <ul>
                <li> <a href="/members/projekt/"> Projekt</a></li>
                <li> <a href="#"> Teams</a> </li>
                <li> <a href="#">Einstellungen</a></li>
                <li> <a href="#"> Logout</a></li>
            </ul>
        </nav>
        <div class="navigate">
            <ul>
                <li> <a href="#"> Projektansicht</a></li>
                <li> <a href="/members/projekt/projekt-erstellen/"> Projekt erstellen </a></li>

            </ul>
        </div>

        

    </main>
    <footer>
        <p> CopyRight By Nuha 2023</p>
    </footer>
</body>

</html>